.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(5, 6, 19);
  height: 100vh;
}
.homeIcon {
  position: absolute;
  right: -25px;
  top: -10px;
  opacity: 0.5;
}
.income {
  grid-row: 1;
  background-color: rgba(57, 70, 156, 0.24);
  height: 30vh;
  margin: 20px 5px 5px 25px;
  width: 40vw;
}
.expense {
  grid-row: 2;
  background-image: linear-gradient(
    to bottom right,
    rgba(24, 49, 131, 0.678),
    rgba(150, 29, 120, 0.699)
  );

  height: 30vh;
  margin: 20px 5px 5px 25px;
  width: 40vw;
}
.investment {
  grid-row: 3;
  background-color: rgba(57, 70, 156, 0.24);
  height: 30vh;
  margin: 20px 5px 5px 25px;
  width: 40vw;
}
.balance {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(57, 70, 156, 0.24);
  width: 55vw;
  height: 47vh;
  margin: 20px 25px 5px 5px;
}
.history {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(57, 70, 156, 0.24);
  width: 55vw;
  height: 47vh;
  margin: 155px 25px 5px 5px;
  color: rgb(174, 32, 179);
}
.lists {
  position: absolute;
  top: 70%;
  right: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.balanceAmount {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 1.5em;
}
h6 {
  color: aliceblue;
  font-size: 20px;
  margin: 5px;
}
.incomeDot {
  padding: 5px 12px 5px 12px;
  background-color: rgba(0, 255, 255, 0.678);
  color: rgba(0, 255, 255, 0);
  border-radius: 50px;
  width: 2px;
  height: 16px;
}
.expenseDot {
  padding: 5px 12px 5px 12px;
  background-color: rgb(174, 32, 179);
  color: rgba(0, 255, 255, 0);
  border-radius: 50px;
  width: 2px;
  height: 16px;
}
.investmentDot {
  padding: 5px 12px 5px 12px;
  background-color: rgb(241, 135, 47);
  color: rgba(0, 255, 255, 0);
  border-radius: 50px;
  width: 2px;
  height: 16px;
}
.pieChart {
  position: absolute;
  top: 50%;
}
.barChart {
  position: absolute;
  bottom: 40%;
  left: 10%;
}
.barChart1 {
  position: absolute;
  bottom: 72%;
  left: 10%;
}
.barChart2 {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.recentTrans {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  width: 400px;
  height: 8vh;
  align-items: center;
}
.recentDes {
  font-size: 18px;
  color: white;
  height: 0;
  margin: 0;
}
.recentDate {
  font-size: 10px;
  color: grey;
  margin: 0;
}
.recentAmount {
  font-size: 20px;
  margin: 0;
  height: 0;
}
.titleBox {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
}
.expenseTitle {
  align-self: center;
  color: brown;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}
.expenseTitle:hover {
  background-color: rgba(128, 128, 128, 0.397);
}
.incomeTitle {
  color: rgb(34, 218, 193);
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.397);
}
