.expensePage {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: rgb(7, 7, 49);
}

.modal-dialog.modal {
  background-color: cornsilk;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 400px;
  height: 500px;
  text-align: center;
}
.box {
  margin-left: 35vw;
  /* margin-right: 0; */
}
.box1 {
  background-image: linear-gradient(
    to bottom right,
    rgba(207, 97, 202, 0.822),
    rgba(72, 17, 124, 0.945)
  );
  border-radius: 10px;
  width: 50vw;
  height: 40vh;
  margin: 20px;
}
.box2 {
  background-image: linear-gradient(
    to bottom right,
    rgba(97, 207, 202, 0.822),
    rgba(8, 46, 168, 0.945)
  );
  border-radius: 10px;
  width: 50vw;
  height: 40vh;
  margin: 20px;
}
.listSpending {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  display: flex;
  justify-content: space-around;
  width: 700px;
  align-items: center;
}
.listbill {
  display: flex;
  justify-content: space-around;
  width: 700px;
  align-items: center;
}
.spendBtn {
  position: absolute;
  bottom: 3%;
  left: 90%;
  padding: 10px 25px 10px 25px;
  border-radius: 50px;
  font-size: 50px;
  font-weight: bolder;
  background-color: rgba(22, 22, 77, 0.486);
  color: rgba(224, 15, 214, 0.822);
  cursor: pointer;
}
.closeBtn {
  float: right;
  margin-right: 0;
}
h1 {
  color: aliceblue;
  /* margin: auto; */
}
h2 {
  font-size: 25px;
  /* margin-top: -15px; */
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
.icons {
  z-index: 2;
}
.editBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.deleteBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
